body{/*全体の色を変えるタグはbody*/
  background: linear-gradient(90deg, #04A6EB,#FFC778);
  color: #FDFFFF;
  width: 500px;/*500pxが標準の様*/
  margin-right: auto;/*余白の事。autoは中央よせ*/
  margin-left: auto;
}

button{
  padding: 5px 20px;/*ボタンの中のデザインの余白の事*/
  color: #FDFFFF;
  background-color: #337AB7;
  border-style: none;
}

input{
  height: 20px;
}
